doctype html
html
    head
        if user
            a(href='/logout') Sign out
        else
            a(href='/login') Sign in
            
        title Contact List
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    body
        block content