extends layout.pug

block content
    if created
        p(style='color: green')= created        
    h1 Sign in
    label(for="username") Username
    br
    input( type="text" name="username" )
    label(for="password") Password
    br
    input(name = "password" type = "password")
    button(type="submit") Sign in
    a(href='/') Nevermind
    br
    span Don't have an account yet? 
    a(href="/signup") Sign up here!

